

.footer {
    margin-top: 3rem;
    height: 5rem;
    background-color: #1b1e21;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer p {
    margin-left: 2rem;
    color: rgb(255, 255, 255, 0.9);
}