$product-section-width: 60%;
$remove-icon-color: #e63946;
$react-theme-color: #20cef9;

$breakpoint-sm: 567px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.cartModalContainer {
    width: 100%;
    display: flex;
    overflow-y: auto;
}

.itemsContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
    height: 62vh;
    padding: 0rem 2rem;

}

.modalHead {
    box-sizing: border-box;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.headerSections {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.headerAmountSection {
    width: calc(((100% - $product-section-width) / 3 ));
    display: flex;
    justify-content: center;
    font-weight: bold;
    box-sizing: border-box;

}

.headerPriceSection {
    width: calc((100% - $product-section-width) / 3);
    display: flex;
    justify-content: center;
    
    font-weight: bold;
}


.headerProductSection {
    display: flex;
    width: $product-section-width;
    font-weight: bold;
}

.itemContainer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.itemProductSection {
    align-items: center;
    display: flex;
    width: $product-section-width;
}

.itemAmountSection {
    width: calc((100% - $product-section-width) / 3);
    display: flex;
    align-items: center;
    justify-content: center;

}

.itemPriceSection {
    width: calc((100% - $product-section-width) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    box-sizing: border-box;
    padding: 0.5rem;
    min-width: 50px;
    width: 3rem;
    height: 6rem;
    margin-right: 1rem;
}

.imgContainer img {
    width: 100%;
    height: 100%;
}

.itemDivider {
    width: 100%;
}

.removeIconContainer {
    box-sizing: border-box;
    height: 2rem;
    width: 2rem;
    margin: 0rem calc((((100% - $product-section-width) / 3) / 2 ) - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 2px solid $remove-icon-color;
    border-radius: 50%;
    transition: 0.3s;

    position: relative;
}

.removeIconContainerHover {
    color: white;
    background-color: $remove-icon-color;
    cursor: pointer;
}

.removeIcon {
    height: 20px;
    fill: $remove-icon-color;
    transition: 0.3s;
}

.removeIconHover {
    fill: white;
}

.cartBackBtn {
    width: 8rem;
    height: 3rem;
    align-self: center;
}

.modalFooter, .modalOrderFooter {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem;
}

.cartOrderBtn {
    width: 8rem;
    height: 3rem;
    margin-left: 2rem;
}

.totalPriceText {
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;

}

.totalPriceText span {
    font-weight: 600;
}


@keyframes emptyCartTextMount {
    from {opacity: 0}
    to {opacity: 0.5}
}

.emptyCartText {
    box-sizing: border-box;
    animation-name: emptyCartTextMount;
    animation-duration: 800ms;
    opacity: 0.5;
    text-align: center;
    font-size: 4.2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem;
    top: 30%;
    left: 0;
    right: 0;
}

.orderFormContainer {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    flex-shrink: 5500;
    width: 100%;
    padding-top: 0.5rem;
    padding: 1rem;
}


.orderFormContainer h2 {
    margin: 0;
    margin-bottom: 1.5rem;
}

.orderForm {
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.formColumn {
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1rem;
    margin-left: 1rem;
}



.orderSubmitContainer {
    box-sizing: border-box;
    min-height: 100%;
    min-width: 30%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    align-items: center;
    padding: 1rem;
}

.orderSubmitContainer button {
    margin: 0;
    margin-top: 0.5rem;
}

@media screen and (max-width: $breakpoint-xl) {
    .modalOrderFooter {
        flex-direction: column;
        align-items: center;
    }

    .orderSubmitContainer {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .orderSubmitContainer p {
        text-align: center;  
    }

    .orderSubmitContainer button {
        margin-left: 1rem;
    }
}

@media screen and (max-width: $breakpoint-lg) {

    .modalOrderFooter {
        flex-direction: column;
        align-items: center;
    }

    .orderSubmitContainer {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .orderSubmitContainer p {
        text-align: center;  
    }

    .orderSubmitContainer button {
        margin-left: 1rem;
    }
    
   

    .formColumn {
        width: 70%;
    }
    
    .itemProductSection, .headerProductSection {
        width: $product-section-width - 20%;
    }

    .itemContainer {
        font-size: 0.9rem;
    }

    .headerPriceSection, .headerAmountSection, .itemAmountSection, .itemPriceSection {
        width: calc(((100% - ($product-section-width - 20%)) / 3 ));
    }

    .removeIconContainer {
        margin: 0rem calc((((100% - ($product-section-width - 20%)) / 3) / 2 ) - 1rem);
    }

}

@media screen and (max-width: $breakpoint-sm) {

    
    .emptyCartText {
        font-size: 3rem;
    }


    .itemProductSection {
        overflow-wrap: anywhere;
    }


    .itemsContainer {
        min-width: 100%;
        padding: 0px 1rem;
    }


    .modalHead {
        padding-top: 1rem;
    }

    .cartBackBtn {
        align-self: flex-end;
        width: 6.5rem;
    }

    .modalHead h1 {
        align-self: center;
    }

    .cartOrderBtn {
        width: 6.5rem;
    }

    .formColumn {
        width: 80%;
    }

    
 
}



@media screen and (max-width: calc($breakpoint-sm - 100px)) {
    .orderForm {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}